<html>

<head>
    <title>Nightlife Coordination App</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ"
        crossorigin="anonymous">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css" rel="stylesheet">
    <link href="assets/css/styles.css" rel="stylesheet">
</head>

<body>

    <!-- Button trigger modal -->
    <button type="button" class="loginbtn" style="display:none;" data-toggle="modal" data-target="#login">
  Login
</button>

    <!-- Modal -->
    <div class="modal fade" id="login" tabindex="-1" role="dialog" aria-labelledby="loginLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="loginLabel">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
                </div>
                <div class="modal-body">
                    <form id="loginform" action="/api/login" method="POST">
                        <div class="form-group">
                            <input type="text" placeholder="username" name="username" type="text" class="form-control">
                            <input type="text" placeholder="password" name="password" type="password" class="form-control">
                            <input type="submit" style="display:none">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" onclick="$('#loginform').submit()">Log in</button>
                </div>
            </div>
        </div>
    </div>

    <div class="container animated fadeIn">
        <div class="row ">
            <div class="col-md-12">
                <h1 class="text-center">Plans tonight?</h1>
            </div>
        </div>
        <div class="row text-center">

            <div class="col-2 offset-3">
                <i class="fa fa-map-marker fa-5x" aria-hidden="true"></i>
            </div>
            <div class="col-2">
                <i class="fa fa-car fa-5x" aria-hidden="true"></i>
            </div>
            <div class="col-2">
                <i class="fa fa-glass fa-5x" aria-hidden="true"></i>
            </div>

        </div>
        <div class="row">
            <div class="col-md-12">
                <p class="text-center">See which bars are hoppin' tonight and RSVP ahead of time!</p>
                <p class="text-center">Remember: take a cab and drink responsibly.</p>
            </div>
        </div>


    <div class="row">
        <div class="col-md-12">
        <div class="row">
            <div class="col-md-12">
                <div class="input-group">
                    <input id="city" type="text" class="form-control" placeholder="Search..." autofocus>
                    <span class="input-group-btn">

        <button id="go" class="btn btn-secondary" type="button">Go!</button>
      </span>
                </div>
            </div>
        </div></div>


    </div>
        <ol class="result list-group"></ol>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.form/4.2.1/jquery.form.min.js"></script>
    <script src="assets/js/scripts.js"></script>
    <script src="assets/js/login.js"></script>
</body>

</html>